<!-- Web App Name: Take The Survey
File Name: edit.ejs;
Group Name: Team A+;
Date: December 14, 2022
Student Name      Student ID
Alex Tang         301238850
Eva Fan           301238820
Darshmeen Dhillon 300689994
Faiyaz Muhammad   301227442
Sheila Donnelly   822281549
Wilson Wu         3012453494 -->

<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <br>
            <h1>
                <%= title %>
            </h1>

            <!------------------------------------------Section 1, Name and description of of survey to be edited.----------------------------------->
            <form class="form" method="POST">
                <input type="hidden" name="id" value="<%= survey._id %>">
                <div class="form-group">
                    <label for="nameTextField">Survey Name</label>
                    <input type="text" class="form-control" id="nameTextField" placeholder="Enter the Survey Name"
                        name="surveyName" value="<%= survey.surveyName %>" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="nameTextField">Survey Description</label>
                    <input type="text" class="form-control" id="nameTextField"
                        placeholder="Enter the Survey Description" name="surveyDescription"
                        value="<%= survey.surveyDescription %>" required>
                </div>
                <br>
                <br>

                <!------------------------------------------Section 2, setting date expiry----------------------------------------------->

                <!-- DELETE ,  edit this with system date. check comments below in script section.-->
                <br>
                <div class="form-group">
                    <label for="creationDateField">Survey Creation Date</label>
                    <input type="date" class="form-control" id="creationDateField"
                        placeholder="Enter the Survey Creation Date" name="surveyCreationDate"
                        value="<%= survey.surveyCreationDate %>" required>
                </div>
                <br>

                <!--setting expiry date-->

                <div class="form-group">
                    <label for="surveyExpiryField">Survey Expiry Date</label>
                    <input type="date" class="form-control" id="surveyExpiryField"
                        placeholder="Enter the Survey Expiry Date" name="surveyExpiryDate"
                        value="<%= survey.surveyExpiryDate %>" required>
                </div>
                <br>

                <!------------------------------------------Section 3, types of question we want to create.------------------------------->
                <div>
                    <br>
                    <h2>Survey Type</h2>
                    <!--two Radio buttons.-->
                    <label> <input type="radio" name="QuestionType" value="multipleChoice" id="choice_id">
                        Multiple Choice</label> &emsp;

                    <label> <input type="radio" name="QuestionType" value="shortAnswer" id="txt_id">
                        Short Answer </label>

                </div>
                <br>

                <!---------------------------------------------submission and cancel buttons.----------------------------------------- ---->
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>

                <a href="/survey-list" class="btn btn-warning">
                    <i class="fas fa-undo"></i> Cancel</a>
            </form>

            <p id="AutoDateCompleteTest"> </p>
        </div>
    </div>
</div>


<!---------------------------our script section -------------------------------->
<script>

    //broser location
    var creationDateField = document.getElementById('creationDateField');
    var onBrowser = document.getElementById('AutoDateCompleteTest');

    //date object
    let currentDate = new Date();

    //retrieving data from date object.
    let cDate = currentDate.getDate();
    let cMonth = currentDate.getMonth();
    let cYear = currentDate.getFullYear();
    let today = [cYear + '-' + cMonth + '-' + cDate].join()

    //used for setting creation date automatically.
    creationDateField.value = today;

    //used for reference.
    onBrowser.innerHTML = "todays date is " + today;

</script>

<!-------------------end of our script section. we can put this script else where.-->


<!------------------------------------------Question Type-----------------------------------
                <div class="container">
         <h2>Survey Type</h2>
       <input type="radio" name="size" name="short">
       <label for="short">Short Answer</label>
       <input type="radio" name="size" name="multiple">
       <label for="multiple">Multiple Choice</label> 
         
        </div> 
      
                <button class="btn btn-primary" >
                   Type: Short Answer</button>

                <div class="form-group">
                    <label for="nameTextField">Your Question</label>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter Your Question Here"
                    name="questionType" 
                    value="<%= survey.questionType%>"
                    required>
                </div>
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>
   
                    <a href="/survey-list" class="btn btn-warning">
                        <i class="fas fa-undo"></i> Cancel</a>
                        <br>
                        <br>

                <button class="btn btn-primary">
                  Type: Multiple Choice</button>

                  <div class="form-group">
                    <label for="nameTextField">Your Question</label>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter Your Question Here"
                    name="questionTypeTwo" 
                    value="<%= survey.questionTypeTwo %>"
                    required>
                </div>
                <div class="form-group">
                    <label for="nameTextField">Choice One</label>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter Your Question Here"
                    name="questionTypeTwo" 
                    value="<%= survey.questionTypeTwo %>"
                    required>
                </div>
                <div class="form-group">
                    <label for="nameTextField">Choice Two</label>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter Your Question Here"
                    name="questionTypeTwo" 
                    value="<%= survey.questionTypeTwo %>"
                    required>
                </div>
              
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>
                
                    <a href="/survey-list" class="btn btn-warning">
                        <i class="fas fa-undo"></i> Cancel</a>

            </form>
            
        </div> 
--------------------------------------Question list------------------------------------------->

<!--------------------------------------------------------------------------------------------------
    </div>

         <button class="btn btn-primary" onclick="myFunction()">
            <i class="fas fa-add"></i> Short Answer</button>
            <div id="myDIV"> -->
<!-- <button class="btn btn-primary" >
                    <i class="fas fa-add"></i> Short Answer</button> -->

<!------------------------------------------------------------------------------------------------>
<!--<form class="form" method="POST">
    <input type="hidden" name="id" value="<%= survey._id %>" >
     <div class="form-group">
        <label for="nameTextField">Your Question</label>
        <input type="text" class="form-control"
        id="nameTextField"
        placeholder="Enter Your Question Here"
        name="questionType" 
        value="<%= survey.questionType %>"
        required>
    </div> -->

<!-- <button class="btn btn-primary" type="submit">
        <i class="fas fa-edit"></i> Submit</button>
    
        <a href="/survey-list" class="btn btn-warning">
            <i class="fas fa-undo"></i> Cancel</a> 

</form>
-------------------There need one function for Multiple Choice Button-------------------
<br>-->
<!-- <button class="btn btn-primary">
    <i class="fas fa-add"></i> Multiple Choice</button>
    -->
<!-- <form class="form" method="POST">
    <input type="hidden" name="id" value="<%= survey._id %>" >
    <div class="form-group">
        <label for="nameTextField">Your Question</label>
        <input type="text" class="form-control"
        id="nameTextField"
        placeholder="Enter Your Question Here"
        name="surveyName" 
        value="<%= survey.surveyName %>"
        required>
    </div> -->

<!-- <button class="btn btn-primary" type="submit">
        <i class="fas fa-edit"></i> Submit</button>
    
        <a href="/survey-list" class="btn btn-warning">
            <i class="fas fa-undo"></i> Cancel</a> 

</form>-->

<!------------------------------------------------------------------------------------------------->


<!-- <button class="btn btn-primary"><i class="fas fa-add"></i> Add text box</button>
                <button class="btn btn-primary"><i class="fas fa-add"></i> Add radio button</button>
                <button class="btn btn-primary"><i class="fas fa-add"></i> Add checkbox</button> 
            </div>
</div>-->